<div class="d-flex justify-content-center align-items-center flex-column">
  <h2>Postear un nuevo tweet</h2>

  <%= render "form", twitter: @twitter %>

  <br>

  <div>
    <%= link_to "Volver a inicio", twitters_path, class: "btn btn-info" %>
  </div>
</div>
